.bpui-preloader {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.bpui-preloader-overlay {
  background: #000;
  opacity: 0;
}

.bpui-preloader, .bpui-preloader .bpui-preloader-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.bpui-preloader .bpui-preloader-spinner {
  background: #fff;
  border: 1px solid #12baff;
  color: #4dbdff;
  font-size: 1.2em;
  left: 50%;
  padding: 15px;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
}
