.w-full {
  width: 100%;
}

.page-content {
  margin-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 1;
  position: absolute;
}

.plan-description {
  width: fit-content;
}

.form-description {
  /* margin-top: 100px; */
  margin-left: 100px;
  margin-right: 50px;
}

.form-description .flex.column {
  margin-top: 30px;
}

.form-description .flex.column > .flex {
  margin-top: 10px;
}

.total-block {
  border-top: 1px solid grey;
  padding-top: 10px;
}

.header {
  text-align: left;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  text-transform: capitalize;
  color: #000000;
}

.billing-form {
  margin-bottom: 10px;
}

.billing-form > .card-container {
  width: 550px;
  min-height: unset;
}

@media (max-width: 950px) {
  .billing-form > .card-container {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
  }
}

@media (max-width: 950px) {
  .page-content {
    flex-wrap: wrap;
  }
}

.card-container .input,
.card-container .select {
  width: 100%;
}

.card-container > .divider {
  margin-top: 10px;
}

.card-container > .flex.justify-between.w-full,
.tab-content > .flex.justify-between.w-full {
  margin-top: 8px;
}

.card-container > .flex.justify-between.w-full > .input:nth-of-type(1n),
.card-container > .flex.justify-between.w-full > .select:nth-of-type(1n) {
  margin-right: 5px;
}

.card-container > .flex.justify-between.w-full > .input:nth-of-type(2n) {
  margin-left: 5px;
}

.card-container .flex.justify-between.w-full span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  /* identical to box height */
  margin: auto;
  width: 20%;
  color: #111111;
}

.inputs-row > .input:nth-of-type(1) {
  margin-right: 5px;
}

.inputs-row > .input:nth-of-type(2) {
  margin-left: 5px;
  margin-right: 5px;
}

.inputs-row > .input:nth-of-type(3) {
  margin-left: 5px;
}

.businesses {
  margin-top: 40px;
}

.businesses h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  text-transform: capitalize;
  color: #111111;
}

.businesses .list {
  margin-top: 20px;
  flex-wrap: wrap;
}

.businesses .list > img {
  margin: auto;
}

.businesses .secondary-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 17px;
  text-transform: capitalize;
  color: #999999;
}

.register-background {
  background-image: url("/public/register-background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom right;
  position: absolute;
  /* bottom: 0; */
  right: 0;
  width: 100%;
  height: 100%;
  /* z-index: 0; */
}

.card-container .btn.green {
  margin-top: 10px;
}

.card-label {
  margin-top: 40px;
}

.terms-block {
  margin-top: 30px;
}

.terms-text {
  margin-left: 1%;
}
