.top-navigation {
  width: calc(100vw - 70px);
  top: 0px;
  z-index: 1;
  position: relative;
  background: #f9f9f9;
  padding: 5px 20px;
}

.top-navigation div,
.top-navigation span {
  margin-top: auto;
  margin-bottom: auto;
}

.top-navigation .btn {
  width: fit-content;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.top-navigation img {
  margin-right: 5px;
  margin-left: 5px;
}

.top-navigation .pipe {
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 500px) {
  .wrap-mobile {
    flex-wrap: wrap;
  } 
}
