.content-center {
  position: absolute;
  z-index: 1;
  margin-top: 5%;
  width: 100%;
}

.header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  text-transform: capitalize;
  color: #000000;
}

.secondary-text {
  margin-top: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-transform: capitalize;
  color: #999999;
}

.plans {
  margin: auto;
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;
  width: 100%;
}

@media (min-width: 500px) {
  .plans .card-container {
    margin-left: 20px;
    margin-right: 20px;
  }
  
}

@media (max-width: 500px) {
  .plans .card-container {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
  }
}

.check {
  width: 20px;
  height: 20px;
}

.description {
  margin-top: 5px;
}

.card-title {
  margin-top: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  text-transform: capitalize;
  color: #000000;
}

.card-price {
  margin-top: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
}

.price-description {
  margin-top: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-transform: capitalize;
  color: #000000;
}

.plan-logo {
  height: 90px;
}
.plan-logo img {
  margin: auto;
}

.description span {
  margin-left: 5px;
}

.try-btn {
  margin-top: 5px;
}

.card-container:nth-of-type(2) {
  box-shadow: 0px 4px 25px rgba(17, 184, 72, 0.45);
}

.content-center .card-container {
  min-height: unset;
}

.home-background {
  background:transparent url("/public/Home-background.png") repeat-x 0 0;
  height: -webkit-fill-available;
  width:100%;
  height:397px;
  position: fixed;
  bottom:0;
  z-index: 0;
}

.plan-description {
  margin-top: 20px
}

.home-cloud-data-icon {
  background: transparent url("/public/home-page-cloud-data.png") repeat-x 0 0;
  height: -webkit-fill-available;
  width:100vw;
  height:397px;
  position: fixed;
  /* bottom:0; */
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}